
@{
    ViewBag.Title = "Index";
}

<h2>Com fome?</h2>

<h3>Sorteando entre @ViewBag.QtdRestaurantes restaurantes...</h3>

@*<h3>@TurboRango.Web.Controllers.SorteiosController.GetIluminismo()</h3>*@

@section Scripts {
@Scripts.Render("~/bundles/haversine")
<script>
    var qtdRestaurante = @ViewBag.QtdRestaurantes;
    // alert(qtdRestaurante);

    $.get('@Url.Action("Restaurantes", "Restaurantes")')
        .done(function(response) {
            response.restaurantes.forEach(function(r) {
                console.log(r);    
            });
        });
</script>
}